<div class="container">
  <h1 class = "py-3">Add a movie</h1>
  <%= simple_form_for @movie, defaults: { class: "form",input_html: { class: 'form-control rounded' } }  do |f|%>
    <%=f.input :title%>
    <%=f.button :submit, class: "btn btn-primary"%>
  <%end%>

  <div>
    
  </div>
</div>
